#thanksMessage, #a, #b, #c, #d {
	padding: 15px;
	display: none;
}

body {
	background-color: #d3d3d3;
}

.container {
	background-image: url("images/background2.png");
	background-repeat: none;
	background-position: center;
	background-size: cover;
	color: white;
}

.titleIntro {
	padding-top: 20px;
	text-align: center;
	color: black;
}

h1 {
	font-size: 42px;
}

h4 {
	font-size: 25px;
}

form {
	padding-left: 100px;
}

#submitButton {
	font-size: 36px;
	border-radius: 8px;
	background-color: #531aff;
	border: 1px solid white;
}

.checkbox input {
  position: absolute;
  opacity: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
	width: 30px;
	background-color: #fff;
	border-radius: 75%;
}

.checkbox:hover input ~ .checkmark {
	background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
	background-color: #ff8c1a;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.checkbox .checkmark:after {
	top: 10px;
	left: 10px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: green;
}

.options {
	font-size: 20px;
	line-height: 250%;
	padding-left: 50px;
}

h2 {
	display: inline;
	font-size: 42px;
	font-family: 'Josefin Sans', sans-serif;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.col-md-6 {
	font-size: 36px;
	font-family: 'Ubuntu', sans-serif;
}

#fullJaguar {
	height: 115px;
	width: auto;
}

#fullJaguar2{
	height: 115px;
	width: auto;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.babyJag {
	display: inline;
	float: right;
	padding: 5px;
	height: 450px;
	width: auto;
}

h5 {
	font-size: 48px;
}

h6 {
	font-size: 40px;
}

#a {
	background-color: #ffc61a;
}

#b {
	background-color: #1aff8c;
}

#c {
	background-color: #c61aff;
}

#d {
	background-color: #1ac6ff;
}
